@model IEnumerable<CptcEvents.Models.Group>
@{
}

@* List all groups available to the current user *@

<h1>Group</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Group group in Model)
        {
            <tr>
                <td>@group.Name</td>
                <td>
                    <a asp-action="Events" asp-controller="Groups" asp-route-groupId="@group.Id" class="btn btn-sm btn-outline-primary">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>