@model IEnumerable<CptcEvents.Models.Group>
@{
}

@* List all groups available to the current user *@

<div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Groups</h1>
    <a asp-action="Join" asp-controller="Groups" class="btn btn-primary">Join Group</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Any())
        {
            <tr>
                <td colspan="2">You are not a member of any groups yet.</td>
            </tr>
        }
        @foreach (Group group in Model)
        {
            <tr>
                <td>@group.Name</td>
                <td>
                    <a asp-action="Events" asp-controller="Groups" asp-route-groupId="@group.Id" class="btn btn-sm btn-outline-primary">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>