services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: cptcevents:latest
    restart: unless-stopped
    ports:
      - "80:80"
    env_file:
      - .env
    environment:
      - ASPNETCORE_ENVIRONMENT=Production